@import "tailwindcss";

@theme {
  --font-sans: 'Euclid', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @font-face {
    font-family: 'Euclid';
    font-weight: 400;
    src: url('./../assets/fonts/Euclid Circular A Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: 'Euclid';
    font-weight: 500;
    src: url('./../assets/fonts/Euclid Circular A Medium.ttf') format("truetype");
  }
}
